
    body {background-color: lightblue;
    
    }
    p {font-size: 50px;}
    

    main {
        grid-area: main;
        display: grid;
        grid-template-areas: 
            "section aside";

        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    